.row-header {
	margin: 0px auto;
	padding: 0px auto;
}

.row-content {
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}
.img-fluid {
	max-width: 100%;
	height: auto;
}
.footer {
	background-color: white;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}
.nav-scroller {
	background-color: #696969;
}
h2 {
	color: #483D8B;
}